<section class="about">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente dicta, rerum delectus nesciunt laborum? Eum, assumenda incidunt. Minus temporibus quam nam porro. Voluptates, distinctio.</p>
    <p>Et reprehenderit aut magnam hic esse amet eveniet vitae placeat molestiae saepe quod obcaecati voluptatibus a voluptatem, consequuntur, praesentium aspernatur laborum. Ducimus ea maiores aperiam minima, totam tenetur eveniet amet vero soluta. Dolor tempore voluptatum illo eius pariatur dicta repudiandae?</p>
    <p>Totam repellendus ex rerum aspernatur architecto, reiciendis consequatur quod, perferendis possimus error commodi accusantium porro, qui suscipit corporis in vel iure dicta pariatur saepe libero officiis! Inventore ad optio qui ipsam. Nisi asperiores praesentium nobis?</p>

    <br><br>
    <h3 class="text-center m-4">Follow Us</h3>
    <div class="follow text-center">
        <a href="">Facebook</a>
        <a href="">Instagram</a>
        <a href="">LinkedIn</a>
        <a href="">Youtube</a>
    </div>
</section>